{% extends "base.html" %}
{% block content %}
<main class="flex-grow-1">
<div class="container-lg mt-3">
    <h1>Сайты</h1>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-nowrap" data-test="urls">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Имя</td>
                    <td>Последняя проверка</td>
                    <td>Код ответа</td>
                </tr>
            </thead>
            <tbody>
                {% for id, name, created_at, status_code in all_urls %}
                <tr>
                    <td>{{ id }}</td>
                    <td><a href="{{ url_for('url_page', id=id) }}">{{ name }}</a></td>
                    {% if created_at %}
                    <td>{{ created_at }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if status_code %}
                    <td>{{ status_code }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</main>
{% endblock %}
