{% extends "base.html" %}
{% block title %}Анализатор страниц{% endblock %}
{% block content %}
<main class="flex-grow-1">
<div class="container-lg mt-3">
    <h1>Сайты</h1>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-nowrap" data-test="urls">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Имя</td>
                    <td>Последняя проверка</td>
                    <td>Код ответа</td>
                </tr>
            </thead>
            <tbody>
                {% for id, name in all_urls %}
                <tr>
                    <td>{{ id }}</td>
                    <td><a href="{{ url_for('url_page', url_id=id) }}">{{ name }}</a></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</main>
{% endblock %}
