{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content %}
{% if messages %}
<ul>
{% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-bg-light border p-5">
        <h1 class="card-title display-2">Page Analyzer</h1>
        <p class="card-text lead">SEO check for free</p>
        <form class="d-flex" role="search" action="{{ url_for('main_page') }}" method="post">
          <input class="form-control me-2" type="text" name="url" value="{{ entry.name }}" placeholder="https://www.example.com">
          <button class="btn btn-primary" type="submit">Analyze</button>
        </form>
      </div>
    </div>
  </div>
  <p>{{ all_entries }}</p>
{% endblock %}
