{% extends "layouts/base.html" %}
{% block content %}
{% include "partials/flash_message.html" %}
<main class="flex-grow-1">
<div class="container-lg mt-3">
    <h1>Сайт: {{ name }}</h1>
    <div class="row justify-content-center">
        <table class="table table-hover table-bordered text-nowrap" data-test="url">
            <tbody>
              <tr>
                <td>ID</td>
                <td>{{ id }}</td>
              </tr>
              <tr>
                <td>Имя</td>
                <td>{{ name }}</td>
              </tr>
              <tr>
                <td>Дата создания</td>
                <td>{{ date }}</td>
              </tr>
            </tbody>
        </table>
    </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form action="{{ url_for('check_url', id=id) }}" method="post">
    <input class="btn btn-primary" type="submit" value="Запустить проверку">
    </form>

    <div>
        <table class="table table-hover table-bordered mt-2" data-test="checks">
            <thead>
              <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
              </tr>
            </thead>
            <tbody>
              {% for id, created_at, status_code, h1, title, description in url_checks %}
              <tr>
                  <td>{{ id }}</td>
                  <td>{{ status_code }}</td>
                  <td>{{ h1 }}</td>
                  <td>{{ title }}</td>
                  <td>{{ description }}</td>
                  <td>{{ created_at }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</main>
{% endblock %}
